.wall {
    background-color: bisque;
}

.grande {
    text-align: center;
    color: aqua;
    font-size: medium;
    font-weight: bolder;
    border: solid;
    background-color: black;
    border-radius: 13px;
    padding: 5px;
}

.médio {
    text-align: center;
    font-size: medium;
    font-weight: bolder;
    border: solid;
    border-radius: 15px;
    padding: 16px;
    max-width: 700px;
    margin: 20px auto;
    background-color: aliceblue;
    color: black;
}

.médioT {
    text-align: center;
    color: aqua;
    font-size: medium;
    font-weight: bolder;
    border: solid;
    background-color: color-mix(in hsl shorter hue, purple 55%, aqua 45%);
    border-radius: 13px;
    max-width: 800px;
    margin: 20px auto;
    padding: 5px;
}

.botao {
    background-color: aqua;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 22px;
    padding: 6px 12px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.botao-central {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
}

.icone {
    width: 60%;
    height: auto;
}